/*
* Colors: main :#89a8b2
bg: #f1f0e8;
*/

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background-color: #f1f0e8;
}

.btn {
  background-color: #89a8b2;
  padding: 1.5rem 3rem;
  font-size: 1em;
  font-family: sans-serif;
  color: rgb(54, 49, 49);
  border: 2px solid #89a8b2;
  border-radius: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s ease;
}

.pokemonList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 2rem;
  padding: 5rem;
  background-color: #b3c8cf;
  border-radius: 2rem;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  justify-content: center;
  align-items: center;
}

.btn-pok {
  background-color: #89a8b2;
  padding: 1rem 2rem;
  font-size: 1em;
  font-family: sans-serif;
  color: rgb(54, 49, 49);
  border: none;
  border-radius: 8px;
}

.pokemonDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  border-radius: 1.5rem;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
  width: 300px;
  margin: 2rem auto;
  text-align: center;
}

.pokemonInfo {
  font-size: 1rem;
  color: #0f0e0e;
  font-weight: 600;
}
